
  [class*="col-"] {
  width: 100%;
  }
  @media only screen and (min-width: 768px) {
  [class*="col-"] {
  float: left;
  padding: 0.5em;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }
  header{
  width: 100%;
  height: auto;
  background-color: blue;
  padding:0px;
  }
  footer{
    width: 100%;
    height: auto;
    float:left;
    background-color:  rgb(195, 195, 11);
    font-family: "Roboto", sans-serif;
    font-size: small;
    }
  #punten{

  background-color: rgb(2, 69, 2);
  padding: 1em;
  }
  #inhoud{
  background-color: rgb(195, 195, 11);
  height: auto;
  padding: 1em;
  }
  .midden{
  width: 40%;
  min-height: 150px;
vertical-align: top;
  display: inline-block;
  padding-right: 2em;

  }

  body{background-color: blue;}@media only screen and (min-width: 768px) {body{background-color: rgb(211, 239, 156);}}



ul {width:auto;
}

  li {
    font-family: "Roboto", sans-serif;
margin-bottom: 1em;
color: aliceblue;
font-size: small;
  }





.roboto-thin {
    font-family: "Roboto", sans-serif;
  }

img {float:right;}

.poetsen-one-regular {font-family: "Poetsen One", sans-serif;font-weight: 400;font-style: normal;background-image:url("../images/vleuten.jpg"); padding-left: 2em; background-size: 100%;height:120%}

h2 {color: rgb(20, 111, 6);}
h5 {color:aliceblue;}